
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Administradores</title>
</head>

<body>
    <!-- ---------------     NAVBAR      ---------------------- -->
    <ul class="nav">
        <div>
            <li>
                <img class="profile" src="/img1.png" alt="Logo">
            </li>

            <li>
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <a href="">Inicio</a>
            </li>

            <li>
                <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
                <a href="../cadastroAdm">Cadastre</a>
            </li>

            <li>
                <i class="fa fa-book fa-2x" aria-hidden="true"></i>
                <a href="">Livros</a>
            </li>

            <li>
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                <a href="../listaEditora/1">Editoras</a>
                
            </li>

            <li>
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                <a href="../listaAutor/1">Autores</a>
            </li>
        </div>
        <!-- ---------------     BOTÂO DE SAIR       --------------- -->
        <li class="nav-item">
            <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>

        </li>
    </ul>

    <!-- ---------------     CONTAINER PRINCIPAL     --------------- -->
    <!-- essa clase alinha o conteudo a direta -->
    <main class="container">

        <section>

            <div>
          
			<a href="../buscarPorNome"> <i class="fa fa-search  busca-icon" aria-hidden="true"></i></a>
               
                <input type="text" class="busca-input" size="90" placeholder="Buscar">

                <select class="busca-input">
                    <option>Nome</option>
                    <option>Palavra Chave</option>
                </select>
            </div>

            <div class="welcome">
                <h3>Boa tarde Joe,</h3>
                <p>Estamos felizes em te ve de volta,<br>
                    Cadastre, altere e edite os administradores</p>
            </div>

            <h2>Administradores</h2>
         
           
	
            <div class="adm-info" th:each="adm:${admins}">
                <p th:text="${adm.id}"></p>

                <div>
                    <p th:text="${adm.nome}"><b></b></p>
                    <p th:text="${adm.email}"></p>
                </div>

                <a th:href="@{/alterarAdm(id=${adm.id})}"> Alterar </a>
                <a th:href="@{/excluirAdm(id=${adm.id})}">Excluir</a>
            </div>
        </section>
  
    </main>

<div class="pagination">
 <ul class="pagination_section">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual -1 : '#'}"><< Previous
				</a></li>

		<li th:class="${pagAtual == p ? 'active blue' : 'waves-effect'}"
			th:each="p:${numPaginas}"><a th:href="${p}"><span
				th:text="${p}"></span></a></li>

		<li th:class="${pagAtual == totalPags ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual < totalPags ? pagAtual + 1 : '#'}"> Next >></a></li>
	</ul>
</div>
  

</body>

</html>