<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/styleAdm.css">
<link rel="stylesheet" href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
<header th:replace="fragments/padrao::navbar"></header>

	<table class="tabela">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Biografia</th>
				<th>Gênero</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="autor:${autores}">
				<td th:text="${autor.id}">
				<td th:text="${autor.nome}">
				<td th:text="${autor.biografia}">
				<td th:text="${autor.genero?.nome}">
				<td><a th:href="@{/alterarAutor(id=${autor.id})}">Alterar</a></td>
				<td><a th:href="@{/excluirAutor(id=${autor.id})}">Excluir</a></td>
		</tbody>
	</table>

	<ul class="pagination">
		<li th:class="${pagAtual == 1 ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual > 1 ? pagAtual -1 : '#'}"><i
				class="material-icons">chevron_left</i></a></li>

		<li th:class="${pagAtual == p ? 'active blue' : 'waves-effect'}"
			th:each="p:${numPaginas}"><a th:href="${p}"><span
				th:text="${p}"></span></a></li>

		<li th:class="${pagAtual == totalPags ? 'disabled' : 'waves-effect'}"><a
			th:href="${pagAtual < totalPags ? pagAtual + 1 : '#'}"><i
				class="material-icons">chevron_right</i></a></li>
	</ul>

	<footer th:replace="fragments/padrao::rodape" ></footer>

</body>
</html>