<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="navbar">
	<nav >
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
		
		
		

			<ul id="nav-mobile" class="right hide-on-med-and-down">
			
			<li><form action="buscarPorNome" method="get"></li>
			<li><button type="submit">Buscar</button></li>
		
		
		

			<li> <input type="search" name="nome"></li>
				</form>
			
				<li><a href="cadastroAdm">Cadastrar</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>
	</header>

	<footer th:fragment="rodape" class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text <a class="grey-text text-lighten-4 right"
					href="#!">More Links</a>
			</div>
		</div>
	</footer>
</body>
</html>