<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/materialize/css/materialize.css">
<link rel="icon" href="icon.png">
</head>
</head>
<body>
<header th:replace="fragments/padrao::navbar"></header>
	<main class="container">
		<div class="formulario">
			<h1>Cadastre-se</h1>
			<p>Por favor digite seus dados</p>
			<br>

			<form action="salvarAutor" method="post">
			<input type="hidden" name="id" th:value="${autor?.id}"/>
				<table>
					<tr>
						<td><label for="fname">Nome</label></td>
					</tr>

					<tr>
						<td><input type="text" name="nome" required th:value="${autor?.nome}" ></td>
					</tr>
					<tr>
						<td><label for="fname">Senha</label></td>
					</tr>

					<tr>
						<td><input type="text" name="nome" required th:value="${autor?.nome}" ></td>
					</tr>
					

				</table>
				
				
				<button type="submit">Cadastre-se</button>

			</form>
			
			<div th:replace="fragments/mensagem"></div>
			

		</div>

		
		</main>
</body>
</html>